@import '~normalize.css/normalize.css';
:root {
  --beige: #e4dbbF;
  --black: #1d1d1d;
  --white: #ffffff;
  --orange: #dc5b21;
  --orange-light: #f0894e;
  --pink: #fff0db;
  --yellow: #f0ad4e;
  --yellow-light: #ffd25d;
  --green: #70ab8f;
  --grey: #e5e5e5;
  --grey-dark: #898989;
}